@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.item-size-responsive {
		@apply sm:w-item-sm-width md:w-item-md-width lg:w-item-lg-width h-item-height sm:h-item-sm-height md:h-item-md-height lg:h-item-lg-height;
	}
}

/* html,
body {

	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
} */

/* Overriding the nprogress styles */
#nprogress .bar {
	background: black !important;
}

/* Fancy blur effect */
#nprogress .peg {
	box-shadow: 0 0 10px black, 0 0 5px black !important;
}
